@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

body {
  background-image: linear-gradient(rgb(206, 41, 127), rgb(115, 62, 89));
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 6px 1rem;
}

.headermainImg {
  width: 100%;
  height: 14rem;
}

.brands {
  display: grid;
  grid-template-columns: auto auto;
}

.singleBrand{
  width: 100%;
  height: 120px;
  border: 1px solid rgb(108, 39, 73);
  border-collapse: collapse;
}

a {
  text-decoration: none;
}
